<div class="border-form-div">
  <form name="form" ng-submit="ctrl.submit()">
    <div class="input-group" ng-repeat="i in ctrl.getNumber(ctrl.number) track by $index">Dive {{$index+1}}<br>
      <select ng-model="ctrl.dives[$index].dive_type" ng-options="dive_type.dive_letter_number for dive_type in ctrl.dive_types">
      </select><br>
      <div>
        {{ ctrl.dives[$index].dive_type.description }}: 
        {{ ctrl.dives[$index].dive_type.degree_of_difficulty }}
      </div>
      <input 
        ng-model="ctrl.dives[$index].score_1"
        placeholder="Score 1"
        type="number"
      />
      <input 
        ng-model="ctrl.dives[$index].score_2"
        placeholder="Score 2"
        type="number"
      />
      <input 
        ng-model="ctrl.dives[$index].score_3"
        placeholder="Score 3"
        type="number"
      />
      <input 
        type="hidden" 
        ng-init="ctrl.dives[$index].meet_id=ctrl.meet_id" 
      />
      <input 
        type="hidden" 
        ng-init="ctrl.dives[$index].user_id=1"/>

    </div>
    <input type="submit" class="btn btn-primary" value="Submit Meet">
  </form>
</div>

