<div class="border-form-div">
  <h1>Log In</h1>
  <form name="form" ng-submit="login()">
    <div class="input-group">
      <input
          name="email"
          type="email"
          ng-model="user.email"
          minlength="2"
          required="required" 
          placeholder="Email"/>
   
      <div ng-messages="form.email.$error" ng-if="form.email.$touched">
          <div ng-message="required">Email is required</div>
          <div ng-message="minlength">Email must be longer than 2 characters</div>
          <div ng-message="email">Email address must be valid</div>
      </div>
    </div>
    <div class="input-group">
      <input 
        name="password"
        type="password" 
        ng-model="user.password"
        minlength="6"
        required="required"
        placeholder="Password"/>

      <div ng-messages="form.password.$error" ng-if="form.password.$touched">
        <div ng-message="required">Password is required</div>
        <div ng-message="minlength">Password must be longer than 6 characters</div>
      </div>

      <input type="submit" class="btn btn-primary" value="Log In">

    </div>
  </form>
</div>