<div class="border-form-div">
  <h1>Sign Up</h1>
  <form ng-submit="register()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required="required">
      <div ng-messages="form.username.$error" ng-if="form.email.$touched">
        <div ng-message="required">Email address is required</div>
        <div ng-message="email">Must be a valid email!</div>
      </div>
    </div>
    <div class="input-group">
      
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
    </div>
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
</div>