<!DOCTYPE html>
<html>
<head>
  <title>Dive Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div ng-app="app" class="app">
    <div ng-include="'nav/_nav.html'"></div>
    <div ui-view></div>
  </div>

</body>
</html>
